[user]
	name = Peter Ruszel
	email = 3279147+peterlopez@users.noreply.github.com
[core]
	ignorecase = false
    autocrlf = input
[commit]
	gpgsign = true
[alias]
	a  = add
	b  = branch
	bb = rev-parse --abbrev-ref HEAD
	c  = commit
	d  = diff
	f  = fetch --all --prune
	p  = pull --ff-only
	pp = push
	fp = push -f
	s  = status -s
	ss = status
	l  = !"git lg-simple"
	lg = !"git lg-tree"

	lg-simple = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lg-tree = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'

	main    = checkout main
	master  = checkout master
	dev     = checkout dev
	develop = checkout develop
	test    = checkout test
	staging = checkout staging

	co = checkout
	new = checkout -b
	delete = branch -d
	erase = !"git branch -d $1 && git push origin --delete $1"

	remotes  = remote -v
	branches = branch -v
	stashes  = stash list

	zip = archive --format=zip -o latest.zip HEAD
	subup = submodule update
[init]
	defaultBranch = main
[pull]
	ff = only
[url "git@github.com:"]
	insteadOf = https://github.com/
