# -----------------------------------------------
# common directories 
# 
alias home="cd ~"
alias hoem="home"
alias scripts="cd ~/scripts"
alias dotfiles="cd ~/dotfiles"


# -----------------------------------------------
# shorthand commands
# 
alias l="ls -BA1Fh"
alias ll="ls -lAh"
alias la="ls -lAh"

alias ..="cd ../"
alias mv="mv -v"
alias mkdir="mkdir -v"

alias o="open ."

alias r="ranger"

# grep history
alias gh='history|grep'

alias listusers="awk -F: '{ print $1}' /etc/passwd"

alias wanip="curl ifconfig.me"

alias rmnodemodules="find . -name 'node_modules' -type d -exec rm -rf '{}' +"

alias editaliases="$EDITOR ~/.config/.aliases"
alias zshrc="$EDITOR ~/.zshrc"
alias vimrc="$EDITOR ~/.vimrc"


# -----------------------------------------------
# programs/apps
# 
# Git
# alias git="hub"
alias gits="git status -s"
alias gitp="git pull"
alias gitpp="git push"
alias gitfp="git push -f"
alias gitc="git checkout"
alias gitd="git diff"
alias gitl="git lg"
alias gitf="git fetch --all"
alias gitb="git rev-parse --abbrev-ref HEAD"
alias gitconfig="$EDITOR ~/.gitconfig"
alias gittrack='git push --set-upstream origin $(gitb)'

# Docker
alias dcu="docker-compose up -d"
alias dcd="docker-compose down"

alias vi="vim"
alias rm="rmtrash"
alias diff="colordiff"
